package shared

import "github.com/diwise/diwise-web/internal/presentation/web/components/shared/ui/separator"

templ ColumnDivider() {
	@separator.Separator(separator.Props{
		Orientation: separator.OrientationVertical,
		Class:       "hidden self-stretch lg:block h-full [&_span:first-child]:border-border/70 [&_span:last-child]:hidden",
	})
}
