package shared

import "github.com/diwise/diwise-web/internal/presentation/web/components/shared/ui/table"

type TableLinkProps struct {
	Class   string
	Href    string
	Target  string
	Swap    string
	Replace bool
}

type TableRowProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	Selected   bool
}

templ TableRow(props TableRowProps) {
	{{ className := "border-border/70" }}
	if props.Class != "" {
		{{ className += " " + props.Class }}
	}
	@table.Row(table.RowProps{
		ID:         props.ID,
		Class:      className,
		Attributes: props.Attributes,
		Selected:   props.Selected,
	}) {
		{ children... }
	}
}

templ TableLink(props TableLinkProps) {
	{{ attrs := templ.Attributes{} }}
	{{ className := "font-bold text-foreground underline-offset-4 hover:underline focus-visible:rounded-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring" }}
	if props.Class != "" {
		{{ className += " " + props.Class }}
	}
	if props.Href != "" {
		{{ attrs["hx-get"] = props.Href }}
	}
	if props.Target != "" {
		{{ attrs["hx-target"] = props.Target }}
	}
	if props.Swap != "" {
		{{ attrs["hx-swap"] = props.Swap }}
	}
	if props.Replace {
		{{ attrs["hx-replace-url"] = "true" }}
	}
	<a href={ templ.SafeURL(props.Href) } class={ className } { attrs... }>
		{ children... }
	</a>
}
