package components

import (
    "github.com/diwise/diwise-web/internal/pkg/presentation/locale"
	"github.com/diwise/diwise-web/internal/pkg/presentation/web/assets"
)

templ NotLoggedIn(l10n locale.Localizer, asset assets.AssetLoaderFunc) {
    <h1>You are not logged in!</h1>
}
